body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;        /* vertical center */
}

.container {
  /* display: flex;
  justify-content: space-around; */
  max-width: 500px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-box label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
}

input[type="text"],
select,
input[type="date"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inline-options {
  margin-top: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background: #0056b3;
}

.result-box {
  margin-top: 20px;
  padding: 15px;
  background: #e8f5ff;
  border-left: 4px solid #007bff;
  border-radius: 6px;
}
